{% extends '@Auth/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body_id 'register' %}

{% block content %}
    <twig:RegistrationForm />
    <div class="text-center text-secondary mt-3">Already have account? <a href="{{ path('login') }}" tabindex="-1">Sign in</a></div>
{% endblock %}
