<!DOCTYPE html>
<html data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block body %}
            <div class="page page-center">
                <div class="container container-tight py-4">
                    <div class="text-center mb-4">
                        <a href="{{ path('homepage') }}" class="navbar-brand navbar-brand-autodark">
                            <img class="mb-4" src="{{ asset('images/puddle-logo.png') }}" class="navbar-brand-image" alt="" width="72" height="57">
                        </a>
                    </div>
                    {{ include('default/_flash_messages.html.twig') }}
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        <twig:CurrentlyPlaying />
    </body>
</html>
