{% extends '@Tabler/layout.html.twig' %}

{% set user = user is defined ? user : null %}

{% block title %}
    Détails : {{ user ? user.email : 'Utilisateur' }}
{% endblock %}

{% block page_pretitle %}Modification utilisateur{% endblock %}
{% block page_title %}{{ user ? user.email : 'Détails' }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <twig:UserForm :initialUser="user" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
