{% extends 'layout.html.twig' %}

{% block title %}Category{% endblock %}

{% block body_id 'category_show' %}

{% block main %}
    <twig:Semantic:Title content="{{ 'category.show' | trans }}" />

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <twig:Button:ActionItem
        withDelete="app_category_delete"
        withEdit="app_category_edit"
        withBackToList="app_category_index"
        :itemId="category.id"
    />
{% endblock %}
