{% extends '@Tabler/layout.html.twig' %}

{% block body_id 'profile_index' %}

{% block title %}
    Edit Profile : {{ user.name }}
{% endblock %}

{% block page_pretitle %}Edit Profile{% endblock %}

{% block content %}
    {{ component('user_form', {userId: user.id}) }}

    <div class="mt-4">
        <a href="{{ path('profile_show') }}" class="btn">
            <twig:ux:icon name="tabler:arrow-left" class="me-2" />
            Back to profile
        </a>
    </div>
{% endblock %}
