{% if app.request.hasPreviousSession %}
    <div class="messages" data-turbo-cache="false">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <twig:Alert :type="type" message="{{ message|trans }}" :format="format|default('basic')" />
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
