{{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">
        <twig:ux:icon name="tabler:save-changes"/> {{ button_label|default('label.create_additional_cost'|trans) }}
    </button>

    <twig:Button:ActionItem
        withBackToList='app_additional_cost_index'
    />
{{ form_end(form) }}
