{{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">
        <twig:ux:icon name="tabler:save-changes"/> {{ button_label|default('label.create_supplier'|trans) }}
    </button>


    <twig:Button:BackToList routeName="app_supplier_index" />
{{ form_end(form) }}
