<td>{{ supplier.name }}</td>
<td class="text-end">
    <twig:Button:ActionItem
        withShow="app_supplier_show"
        withEdit="app_supplier_edit"
        withDelete="app_supplier_delete"
        :itemId="supplier.id"
    />
</td>
