{% extends '@Auth/base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body_id 'forgot-password-request' %}

{% block content %}
    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Mot de passe oublié</h2>
            <p class="text-muted mb-4">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
            <twig:RequestPasswordResetForm />
        </div>
    </div>
    <div class="text-center text-muted mt-3">
        J'ai retrouvé mon mot de passe ! <a href="{{ path('login') }}">Connectez-vous</a>.
    </div>
{% endblock %}
