{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body_id 'homepage' %}

{% block main %}
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
            <div class="card">
                <div class="card-body" style="height: 10rem">
                    <h1>Hello {{ controller_name }}! ✅</h1>

                    This friendly message is coming from:
                    <ul>
                        <li>Your controller at <code>/app/src/Controller/HomepageController.php</code></li>
                        <li>Your template at <code>/app/templates/homepage/index.html.twig</code></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
