<div {{ attributes }}>
    {{ form_start(form) }}
        <div class="input-group">
            {{ form_widget(form.amount, {attr: {class: 'form-control'}}) }}
            <button type="submit" class="btn btn-primary" data-action="live#save">
                <twig:ux:icon name='tabler:plus'/> Ajouter
            </button>
        </div>
    {{ form_end(form) }}
</div>
