{% extends '@Tabler/layout.html.twig' %}
{% block title %}{{ page_title|default('Créer un Produit') }}{% endblock %}
{% block main %}

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ page_title|default('Créer un nouveau Produit') }}</h3>
            </div>
            <div class="card-body">
                <twig:ProductForm :form="form" :dto="dto" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
