<!DOCTYPE html>
<html data-bs-theme="auto">
    <head>
        {% include '@Tabler/includes/html_head.html.twig' %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">
        <div class="page">
            {% block navbar %}
                <header class="navbar navbar-expand-md d-print-none">
                    {{ include('@Tabler/includes/_navigation.html.twig') }}
                </header>
            {% endblock %}

            <div id="{% block page_wrapper_id %}{% endblock %}" class="page-wrapper">
                {% block main %}{% endblock %}
            </div>
        </div>
    </body>
</html>
