<div class="col" {{ attributes.defaults(stimulus_controller('items-per-page')) }}>
    {{ form_start(form, { attr: {novalidate: true} }) }}
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Show</label>
        </div>
        <div class="col-auto">
            {{ form_widget(form.items) }}
        </div>
        <div class="col-auto">
            <label class="col-form-label">entries</label>
        </div>
    </div>
    {{ form_end(form) }}
</div>
