<span class="d-none d-sm-inline">
    <a href="{{ path(routeName) }}" class="btn btn-1">
        <twig:ux:icon name="tabler:arrow-left" class="icon icon-1"/> {{ 'action.back_to_list'|trans }}
    </a>
</span>
