{% extends '@Tabler/layout.html.twig' %}
{% block title %}{{ title|default('Création Produit - Puddle') }}{% endblock %}

{% block page_pretitle %}Catalogue produits{% endblock %}
{% block page_title %}{{ page_title|default('Créer un nouveau produit') }}{% endblock %}

{% block page_title_actions %}
    <twig:Button:BackToList routeName="product_index" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <twig:ProductForm :form="form" :dto="formDto" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
