<!DOCTYPE html>
<html data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block body %}
            <div class="page">
                {% block header %}
                    <header class="navbar navbar-expand-md d-print-none">
                        {{ include('default/_navigation.html.twig') }}
                    </header>
                {% endblock %}
                <div class="page-wrapper">
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        <twig:CurrentlyPlaying />
    </body>
</html>
