{% extends '@Tabler/layout.html.twig' %}

{% block title %}Planifier un Coût Récurrent{% endblock %}

{% block page_title %}Planifier un Coût Récurrent{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <twig:RecurringCostForm :data="formDto" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
