{% props type = null, color = null %}

{% set role = cva({
    base: 'badge',
    variants: {
        color: {
            red: 'bg-danger-lt',
            orange: 'bg-warning-lt',
            green: 'bg-success-lt',
            blue: 'bg-primary-lt',
            gray: 'bg-secondary-lt',
        }
    }
}) %}

<span {{ attributes }} class="{{ role.apply({color}) }}">
    {{ type }}
</span>
