{% extends 'layout.html.twig' %} {% block title %}Hello DashboardController!{%
endblock %} {% block body_id 'dashboard' %} {% block main %}
<div
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow"
>
    <h1 class="mt-5">{{ "Dashboard" | trans }}</h1>
</div>

<section class="mb-3 mb-lg-5">
    <div class="mb-3 row">
        <twig:DashboardCard />
    </div>
</section>
{% endblock %}
