{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <p style="text-align: center; margin-bottom: 24px;">
        <img src="{{ asset('static/logo.png') }}" width="72" height="57" alt="" style="display: inline-block; line-height: 100%; outline: none; text-decoration: none; vertical-align: bottom; font-size: 0; border-style: none; border-width: 0;" />
    </p>

    <h1>Bienvenue à bord !</h1>

    <p>
        Nous sommes ravis de vous compter parmi nous. Votre compte sur <strong>Puddle</strong> a bien été créé.
    </p>

    <p>
        Pour votre toute première connexion, il vous suffit de cliquer sur le bouton ci-dessous. Ce lien est sécurisé, personnel et à usage unique.
    </p>

    <a href="{{ action_url }}" class="button">
        <twig:ux:icon name="tabler:key" />
        {{ action_text }}
    </a>

    <p style="margin-top: 24px; font-size: 14px; color: #666;">
        Lors de cette première connexion, vous aurez la possibilité de définir un mot de passe pour vos futures visites, ou de continuer à utiliser la connexion sans mot de passe.
    </p>
    <p style="font-size: 14px; color: #666;">
        Si vous n'êtes pas à l'origine de cette inscription, vous pouvez simplement ignorer cet e-mail.
    </p>
{% endblock %}

{% block footer %}
    <p>
        À très bientôt sur Puddle !<br>
        L'équipe
    </p>
{% endblock %}
