{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}
    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

        <div class="max-w-2xl m-auto mt-16">

            <div class="text-center px-4">
                <div class="inline-flex mb-8">
                    <img class="rounded-full transition-all duration-300 blur-sm hover:blur-none" src="{{ asset('images/error-500.jpg') }}" alt="500 illustration" />
                </div>
                <div class="mb-6">Miouu... There was an internal server error.</div>
                Try loading this page again in some minutes or <a href="{{ path('homepage') }}" class="text-indigo-500 hover:text-indigo-600 dark:hover:text-indigo-400">go back to the homepage</a>.
            </div>

        </div>

    </div>
{% endblock %}
