{{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">
        <twig:ux:icon name="tabler:save-changes"/> {{ button_label|default('label.create_user'|trans) }}
    </button>

    <twig:Button:ActionItem
        withBackToList="app_user_index"
    />
{{ form_end(form) }}
