{% extends 'layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body_id 'user_index' %}

{% block main %}
    <twig:Semantic:Title content="{{ 'user.index' | trans }}" >
        <div class="col-auto ms-auto d-print-none">
            <twig:Button:CreateNew routeName="user_new" withIcon="tabler:plus" />
        </div>
    </twig:Semantic:Title>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-vcenter card-table table-striped">
                                <thead>
                                    <tr>
                                        <th>Identifier</th>
                                        <th>Email</th>
                                    </tr>
                                    <tbody>
                                        {% for user in users %}
                                            <tr id="user_{{ user.identifier }}">
                                                {{ include('user/_item.html.twig', { user: user}) }}
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5">{{ 'default.no_record_found'|trans }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

