<html>
<body>
<h1>Connexion à Puddle</h1>

<p>
    {{ raw ? content|raw : content|nl2br }}<br><br>
    <a href="{{ action_url }}">{{ action_text }}</a>
</p>

<p>
    Vous recevez cet email car vous avez demandé à vous connecter à Puddle.<br>
    Si vous ne savez pas pourquoi vous recevez cet email, vous pouvez nous contacter en répondant à cet email.
</p>

<p>
    Cheers!
</p>
</body>
</html>
