{% set alert = html_cva({
    base: 'alert',
    variants: {
        type: {
            success: 'alert-success',
            error: 'alert-danger',
            warning: 'alert-warning',
            notice: 'alert-info',
        },
        format: {
            standard: '',
            important: 'alert-important',
            minor: 'alert-minor',
        },
    },
}) %}

<div class="{{ alert.apply({type, format}, attributes.render('class')) }} {% if dismissible is true %}alert-dismissible{% endif %}"  role="alert">
    {% if this.icon is not null %}
        <div class="alert-icon">
            <twig:ux:icon name="{{ this.icon }}" class="icon alert-icon" />
        </div>
    {% endif %}
    {% block content %}
        {{ message|default('') }}
    {% endblock %}

    {% if dismissible is true %}
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    {% endif %}
</div>
